<!-- change the height and width -->

<div class="c-side-pane t-toolbar">
    <span>Colour</span>
</div>

<div class="c-config-content">


    <select ng-model="config.colour">
        <option value ="hi">Normal</option>
        <option value ="hi">Other</option>
    </select>
</div>

<div class="c-side-pane t-toolbar">
    <span>Label Override</span>
</div>
<div class="c-config-content">
    Label:
    <input type="text" ng-model="config.Label">
</div>
<div class="c-config-content">
    icon:
    <input type="text" ng-model="config.icon">
</div>
<div class="c-config-content">
    Height:
    <input type="text" ng-model="config.Height">
</div>
